#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  background-color: #000000;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pet-card {
  width: 500px;
  height: 460px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.pet-card img {
  width: 300px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
}

.pet-card p {
  margin-top: 10px;
}

.pet-card .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pet-card button {
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.pet-card button:hover {
  background-color: #e53935;
}

.pet-card button:active {
  background-color: #d32f2f;
}

ul {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

#formO {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  gap: 10px;
}

#formO input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#formO button {
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#formO button:hover {
  background-color: #45a049;
}

#formO button:active {
  background-color: #3d8b40;
}

#formCard {
  width: 300px;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-decoration: underline;
}
